
@{
    ViewBag.Title = "MemberTransfers";
}

<h2>Member Transfers</h2>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/app/scripts/MemberTransferController.js"></script>

<section class="wrapper" style="margin-top:30px !important">
    <div ng-app="app" ng-controller="MemberTransfer" ng-cloak>
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        <i class=""></i> Transfers - Member Panel
                    </header>
                    <div class="panel-body">
                        <div ng-show="isExists"> 
                            <table style="width:50%;min-width:300px;margin:0 auto">
                                <tr style="line-height:30px">
                                    <td><label>Wallet Type :</label></td>
                                    <td>
                                        <select name="wallet" ng-model="wallet" required class="form-control">
                                            <option value="5">Joining Wallet</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr style="line-height:30px">
                                    <td><label>Joining Wallet balance (BDT) :</label></td>
                                    <td>{{walletBalance |  currency:'BDT  '}}</td>
                                </tr>
                                <tr style="line-height:30px">
                                    <td><label>Transfer to Username :</label></td>
                                    <td>
                                        <input type="text" ng-model="username" class="form-control" ng-blur="checkUsername()" />
                                        <label style="color:red">{{errormessage}}</label>
                                    </td>
                                </tr>
                                <tr style="line-height:30px">
                                    <td><label>Amount to Transfer (BDT):</label></td>
                                    <td><input type="number" ng-model="amount" class="form-control" ng-min="1" /></td>
                                </tr>
                                <tr style="line-height:30px;margin:5px">
                                    <td></td>
                                    <td><br /><button class="btn btn-success" ng-hide="username=='' || amount==null || amount<0 || amount==0 || amount > walletBalance" ng-click="Transaction()" style="margin:0 auto;">Transfer</button></td>
                                </tr>
                            </table>
                        </div>
                      
                        <table class="table table-bordered table-striped" style="margin-top:30px">
                            <thead>
                                <tr>
                                    <th>Transaction Date</th>
                                    <th>Received</th>
                                    <th>Paid</th>
                                    <th>Transferred To / From</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="trf in transfers | orderBy:'-Id'">
                                    <td>{{trf.Date}}</td>
                                    <td>{{trf.Deposit |  currency:'BDT  '}}</td>
                                    <td>{{trf.Withdraw |  currency:'BDT  '}}</td>
                                    <td>{{trf.Transfer}}</td>
                                    <td>{{trf.Amount |  currency:'BDT  '}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

